---
layout: default
---

<div id="map"></div>
<script type="application/javascript">
    L.CRS.Simple = L.extend({}, L.CRS.Simple, {
        projection: L.Projection.LonLat,
        transformation: new L.Transformation(1, 0, 1, 0),
    });
    let map = L.map('map', {
        crs: L.CRS.Simple,
        minZoom: 3,
        maxZoom: 13
    }).setView([45, 45], 4);
    const bounds = [[6, 8], [93, 90]];
    L.imageOverlay('img/Map_The_Island_Grid.jpg', bounds).addTo(map);
    map.fitBounds(bounds);

    const homeIcon = L.BeautifyIcon.icon({
        icon: 'home',
        iconShape: 'marker'
    });

    {% for poi_hash in site.data.poi %}
        {% assign poi = poi_hash[1] %}
        L.marker(L.latLng([{{ poi.latitude }}, {{ poi.longitude }}]), {icon: L.BeautifyIcon.icon({icon: '{{ poi.icon }}', iconShape: 'marker'})}).addTo(map).bindPopup("<b>{{ poi.title }}</b><br>{{ poi.description }}");
    {% endfor %}

    {% for tribe_hash in site.data.tribe %}
        {% assign tribe = tribe_hash[1] %}
        {% for base in tribe.bases %}
            L.marker(L.latLng([{{ base.latitude }}, {{ base.longitude }}]), {icon: homeIcon}).addTo(map).bindPopup("<b>{{ tribe.title }}</b><br>Basis: {{ base.title }}<br>Mitglieder: {{ tribe.member }}");
        {% endfor %}
    {% endfor %}
</script>

