<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="language" content="de"/>
    <link rel="stylesheet" href="{{site.baseurl}}/node_modules/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="{{site.baseurl}}/node_modules/beautifymarker/leaflet-beautify-marker-icon.css">
    <script src="{{site.baseurl}}/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="{{site.baseurl}}/node_modules/beautifymarker/leaflet-beautify-marker-icon.js"></script>
    {% asset main.css !type %}
<body>
{{ content }}
</body>
</html>